:root {
  --index: calc(1vh+1vw);
}
@keyframes change-color {
  0% {
    background-color: #ffcde685;
  }
  50%  {
    background-color: #cdecff85
  }
  100% {
    background-color: #ffcde685;
  }
}

@font-face{
font-family:'Nabi'; 
font-style: normal;  
font-weight: 900; 
src: local('Nabi'), url('Nabi.woff') format('woff');
}

@font-face{
font-family:'Rouge'; 
src: url('Rouge.ttf');
}


body {
  animation-name: change-color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


h1 {
  font-size: 3em;
}
h3 {
  font-family: Nabi;
}




.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  position: fixed;
  text-align: center;
  top:5%;
  width:90%;
  height: 90%;
  background-color: pink;
  z-index: 1;
  display: none;
  border: 10px solid white;
  border-radius: 20px;
}

.cart.active {
  display: block;
  transition-duration: 0.5s;
}

.up{
  background-color: pink;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 20px;
  bottom: 30px;
  font-family: Nabi;
  font-weight: 900;
}

.navigation {
  text-transform: uppercase;
  font-family: Nabi;
  letter-spacing: 0.2rem;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.logo {
  font-size: 46px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  text-transform: uppercase;
  font-family: Nabi;
  letter-spacing: 0.2rem;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.menu li:hover {
  color: pink;
}

.landing {
  margin: 45vh 0;
  width: 60vw;
  display: flex;
  flex-flow: column;
  gap: calc(var(--index) / 0.4);
}

.landing_nav {
  transform: translate3d(0, calc(var(--scrollTop)/8), 0);
  color: #808080;
  list-style: none;
  width: 100%;
  text-transform: uppercase;
  font-family: Nabi;
  font-size: calc(var(--index) * 3);
}

.landing_logo {
  transform: translate3d(0, calc(var(--scrollTop)/6), 0);
  max-width: 100%;
  text-transform: uppercase;
  font-family: Nabi;
  font-size: calc(var(--index) * 3);
  letter-spacing: calc(var(--index) * 2);
}

.landing_paragraph {
  margin: 0;
  transform: translate3d(0, calc(var(--scrollTop)/4), 0);
  font-family: Rouge, serif;
  font-size: calc(var(--index) * 3);
  font-weight: 400;
}



.product_display {
  display: flex;
  justify-content: center;
  width: 100%;
/*  background-color: pink;*/
}

.product_display_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 12vh auto;
  background-color: white;
}

.picture_card {
  margin: 20px 0;
  width: 80%;
  height: 500px;
  font-size: calc(var(--index) * 2);
  border: 1px solid pink;
/*  border-bottom: 10px solid gold ;*/
}

.picture_card > * {
  margin: 10px;
}

.picture_card_price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  color:pink;
  justify-content: space-between;
}
.picture_card_price .to_cart:hover {
  scale: 1.1;
  transition-duration: 0.2s;
  cursor: pointer;
}
.warning {
/*  transform: translate3d(0, calc(var(--scrollTop)/-6), 0);*/
}
